<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 500 Error #CodepenChallenge</title>
  <link rel="stylesheet" href="assets/500-error.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. Please notify our staff!">
    <spaguetti>
    <fork></fork>
    <meat></meat>
    <pasta></pasta>
    <plate></plate>
  </spaguetti>
</div>
<!-- partial -->
  <script  src="assets/500-error.js"></script>

</body>
</html>
