<html>
<body>
<div id="particles-js"></div>
<link rel="stylesheet" href="assets/thank-you.css">
<script src="assets/particles-min-script.js"></script>
<script src="assets/particles.js"></script>


<div class="thank-you-container">
  <div class="thank-you-box">
    <h1>Thank you!</h1>
    <p class="lead">for placing your order</p>
    <p>You should be receiving a text right about *now* to confirm you're set up to receive notifications once your order is ready!</p>
    <p class="signature"><span style="color:red">&#9829;</span> YumYums Staff</p>
  </div>
<!--  <a class="return-black" href="https://allisondskinner.com">Return to Website</a>-->
</div>
</body>
<html>