<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Order Messenger</title>
    <link href="assets/contact_form_style.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" href="assets/logo.jpg" />
    <meta
            name="description"
            content="Order notification app"
    />
</head>
<body>
<div id="wrapper">
    <div id="contact_form_div">
        <p>Please enter your <span><b>order number</b></span> and <span><b>phone number</b></span> with area code.</p>
        <p>For example: 301-555-5555</p>
        <form method="post" action="">
            <p><input type="text" name="order_number" placeholder="Order #"></p>
            <p><input type="text" name="phone_number" placeholder="Phone Number"></p>
            <p><input type="submit" value="SUBMIT"></p>
        </form>
    </div>
</div>
</body>
</html>